/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$subdued-text: #777777;
$primary-blue: #05A;
$secondary-blue: #0091d0;
$alternate-blue: #66d1ff;

body {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

h1 img {
    display: block;
    position: absolute;
    border: 1px #FFF solid;
    float: none;
    z-index: 75;
    margin: 0;
}

h2 {
    background-color: $primary-blue;
    border: 1px #000 solid;
    font-weight: 700;
    color: #FFF;
    font-size: 1.2em;
    margin-bottom: 1em;
    clear: both;
    white-space: nowrap;
    padding: 1px 80px 2px;
    a {
        font-weight: 700;
        color: #FFF;
        &:hover {
            font-weight: 700;
            color: $secondary-blue;
            text-decoration: none;
        }
    }
}

h3 {
    font-size: 1.2em;
    font-weight: 700;
    clear: left;
    margin: 1em 0 0.5em;
    padding: 1px 80px 2px;
}

h4 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0.5em;
    padding: 1px 80px 2px;
}

p {
    margin: 0.7em 0;
}

a {
    color: $primary-blue;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    img {
        border: 1px #FFF solid;
    }
}

strong {
    font-weight: 700;
    font-style: normal;
}

ul {
    list-style: inside;
    margin: 0.5em 1em 1em 2em;
}

ol {
    list-style-position: outside;
}

ol li {
    padding: 3px;
}

ul li ul {
    padding-left: 2em;
    list-style-type: circle;
    margin: 0;
}

dl {
    margin: 1em 1em 1em 2em;
}

dt {
    margin-right: 1em;
    font-weight: 700;
}

dd {
    margin: 0.5em 0 0.5em 2em;
}

hr {
    border: none;
    border-top: 1px $primary-blue solid;
    clear: both;
    color: #fff;
    display: none;
    margin: 0 35px 0.7em;
}

table {
    border: 1px #000 solid;
    margin: 1em 2em;
}

td {
    vertical-align: middle;
    text-align: left;
    border: 1px #000 solid;
    padding: 0.25em 0.5em;
}

th {
    color: #FFF;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
    background: $primary-blue;
    border: 1px #000 solid;
    padding: 0.25em 0.5em;
}

img {
    float: left;
    clear: left;
    margin-top: 0.5em;
    margin-right: 10px;
    margin-bottom: 10px;
}

#container, #header-container {
    font-size: 1em;
    text-align: left;
    margin: 0 auto;
    padding: 0 10px;
}

#header-container {
    padding: 0 1em;
    background-color: $primary-blue;
    border-bottom: 1px #000 solid;
    color: white;
}

#header {
    height: 6.5em;
    position: relative;
    overflow: visible;
}

#navigation {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    list-style: none;
    z-index: 100;
    margin: 0;
    padding: 0;
    li {
        float: right;
        font-size: 0.8em;
        margin: 0.6em 0.6em 0 0;
        a {
            float: left;
            color: #FFF;
            border: 1px #000 solid;
            position: relative;
            bottom: -1px;
            white-space: nowrap;
            background-color: $secondary-blue;
            text-align: center;
            text-decoration: none;
            z-index: 100;
            padding: 0.3em 0.6em;
            &.here, &.here:hover {
                color: #000;
                position: relative;
                border-bottom: 1px #FFF solid;
                background-color: #FFF;
            }
            &:hover {
                color: #FFF;
                background-color: $alternate-blue;
            }
        }
    }
}

.widemargins {
    margin: auto;
    width: 50em;
}

#content {
    font-size: 1em;
    padding: 10px 10px 1em;
}

#footer {
    margin: auto;
    padding: 10px;
    width: 20em;
    font-size: small;
    color: $subdued-text;
    text-align: center;
}

.large-title {
    font-size: 2em;
    font-weight: 700;
}

.small-title {
    font-size: 0.8em;
    font-weight: 100;
    letter-spacing: 0.2em;
    color: $alternate-blue;
}

.error {
    font-weight: 700;
    font-style: italic;
    color: $primary-blue;
    margin: 1em;
}

.right {
    float: right;
    clear: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.left {
    float: left;
    clear: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.quote {
    padding-left: 10px;
    border-left: 4px solid #000;
    font-style: italic;
    display: block;
}

.first-paragraph {
    margin-top: 3em;
}

label {
    display: block;
    font-size: 1em;
    color: $primary-blue;
    margin: 1em 2em;
}

textarea {
    border: 1px #000 solid;
    display: block;
    font-size: 1em;
    width: 30em;
    height: 20em;
    max-width: 75%;
    overflow: auto;
    margin-top: 2px;
    font-family: monospace;
    padding: 2px;
    &.editor {
        height: 40em;
        width: 90%;
        max-width: 90%;
    }
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 50em) {
    .widemargins {
        width: 100%;
        min-width: 31.5em;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
